*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.listra{
    background-color: #5B0B9B;
    height: 100%;
    width: 70px;
    position: absolute;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;    
    background-color: white;
}
#body.tema-escuro{
    background-color: #000;
}
#body.tema-escuro .selectFrom{
    background-color: transparent;
    color: #ccc;
}
#body.tema-escuro .selectTo {
    background-color: transparent;
    color: #ccc;
}
.seta img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.seta{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 50px;
    width: 1048px;
    cursor: auto;
}
header{
    padding: 8px;
    align-items: center;
    padding: 56px;
    
}
button{
    position: absolute;
    display: flex;
    padding: 16px;
    right: 20px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

main{   
    height: 100vh;
    display: grid;
    justify-content: center;
}

.img1{
    position: absolute;
}
.img2{
    position: absolute;
}

.text1{
    padding-top: 64px;
    height: 56px;
}
.text2{
    height: 56px;
    padding-bottom: 64px;  
}
.text1 input{  
    background: transparent;
    padding: 16px;
    width: 867px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none; 

}
.text2 input{
    background: transparent;
    background-size: contain;
    padding: 16px;
    width: 867px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: black;  
    color: #5B0B9B;
}
h1{
    display: flex;
    justify-content: center;
    color:#5B0B9B;
    font-size: 64px;
    padding: 24px;
}
footer{
    display: flex;
    color: #5B0B9B;
    justify-content: center;
    padding: 36px;
}

/* ********************************* */
/* Responsividade IPAD Mini */
/* ********************************* */

@media(max-width:768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
      height: 100vh;
      width: 100vw;
  }
  
  main{
    height: 50%;
    width: 100%;
    align-items: center;
  }
  .text1{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .text2{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .text1 img{
        position: relative;
    }
  .text1 input{
      position: relative;
      display: flex;    
      justify-content: center;
      align-items: center;
      width: 450px;
  }
  .text2 input{
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 450px;
  }
  .seta{
      width: 660px;
  }
}


/* ********************************* */
/* Responsividade IPHONE SE */
/* ********************************* */


@media(max-width:375px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .listra{
        height: 0;
    }   
    .button-theme img{
        width: 10px;
        height: 10px;
    }
    body{
        height: 100vh;
        width: 100vw;
    }
    header{
        align-items: center;
        display: flex;
    }
    .text1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text1 input{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
    }
    .text2 input{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
    }
    
}